{$DOMAIN} {
    root * /usr/share/caddy
    
    try_files {path} /index.html
    
    file_server
    
    # 보안 헤더
    header {
        Strict-Transport-Security "max-age=31536000;"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        -Server
    }
    
    # 로그
    log {
        output stdout
        format console
    }
}